<h3 class="center-align"><b>Hi there 👋</b></h3>
<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="row valign-wrapper">
      <div class="flex">
        <%= image_tag "me.jpg", class: "materialboxed circle me responsive-img" %>
      </div>
      <div class="flex">
        <div class="black-text">
          都内某所でWebエンジニアをしている若輩者です。<br />
          好きな言語はRubyとPHPです。<br />
          このサイトは、知識のアウトプットと言語化をするための砂場として開発しました。<br />
          「zennやQiitaでいいじゃん」ですって？そんなこと僕が一番よくわかってますよ！
        </div>
      </div>
    </div>
</div>

<script>
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>
