<h3 class="center-align">📖</h3>
<div class="divider"></div>
<div class="container">
  <% @articles.each do |article| %>
    <b><h5><%= link_to "#{article.title}", article %></b></h5>
    <%= article.created_at.strftime("%Y/%m/%d") %>
    <% if current_user %>
      <%= link_to "編集", "#" %>
      <%= link_to "削除", "#" %>
    <% end %>
  <% end %>
</div>
