<% if user_signed_in? %>
  <p>現在 <%= current_user.name %>さんがログインしています</p>
  <p> メールアドレス: <%= current_user.email %></p>
<% else %>
  <p>管理者ですか？ログインしてください</p>
  <%= link_to "ログイン", new_user_session_path, class: "post", class: "btn" %>
<% end %>
