<div class="container">
  <h3 class="center-align">Hi there 👋</h3>

  <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="row valign-wrapper">
        <div class="col s2">
          <%= image_tag "me.jpg", class: "circle responsive-img materialboxed" %>
        </div>
        <div class="col s10">
          <span class="black-text">
            都内某所でWebエンジニアをしている若輩者です。<br />
            好きな言語はRubyとPHPです。<br />
            最近はサーバサイドをしっかり勉強しないとなーと考えています。<br />
            このサイトは<a href="https://rubyonrails.org/">Rails</a>で作りました。
          </span>
        </div>
      </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>
