/*
 *
 *= require_tree .
 *= require material_icons
 *= require_self
 */
@import 'materialize';
@import "materialize/components/icons-material-design";

.footer_logos {
  padding: 10px
}

.me {
  width: 200px;
  margin-right: 100px;
}

.robot:hover {
  cursor: pointer
}

.login_button {
  margin: 10px;
}

.divider {
  margin: 10px;
}
