<footer class="center-align">
  <div class="divider"></div>
  <div class="footer_logos">
    <div class="row">
      <div class="col s4"><a href="https://github.com/bumpfuji10"><%= image_tag "/assets/github-mark.png", size: "30x30", class: "hoverable" %></a></div>
      <div class="col s4"><a href="https://twitter.com/bumpfuji10"><%= image_tag "/assets/twitter.png", size: "30x24", class: "hoverable" %></a></div>
      <div class="col s4"><a href="https://zenn.dev/yokamada_dev"><%= image_tag "/assets/zenn.png", size: "80x20", class: "hoverable" %></a></div>
    </div>
  </div>
</footer>
