<footer class="center-align">
  <div class="divider"></div>
  <div class="footer_logos">
    <div class="row">
      <div class="col s3"><a href="https://github.com/bumpfuji10"><%= image_tag "github-mark.jpg", size: "30x30", class: "hoverable" %></a></div>
      <div class="col s3"><a href="https://twitter.com/bumpfuji10"><%= image_tag "twitter.jpg", size: "30x24", class: "hoverable" %></a></div>
      <div class="col s3"><a href="https://zenn.dev/yokamada_dev"><%= image_tag "zenn.jpg", size: "80x20", class: "hoverable" %></a></div>
      <div class="col s3"><a href="https://qiita.com/bumpfuji10"><%= image_tag "qiita.jpg", size: "70x30", class: "hoverable" %></a></div>
    </div>
    <p>© Yo Kamada 2023 - Build with <a href="https://rubyonrails.org/">Ruby on Rails</a> & <a href="https://materializecss.com/">Materialize</a></p>
  </div>
</footer>
