<nav class="teal">
  <div class="nav-wrapper">
    <%= link_to "🤖", "/", class: "brand-logo right" %>
    <ul class="left">
      <li><%= link_to "Blog", '#' %></li>
      <li><%= link_to "Home", "/" %></li></li>
      <li><%= link_to "Add Blog", "#" %></li>
    </ul>
  </div>
</nav>
